---
layout: default
title: "WHPC"
---

<section id="light-card">
    <div class="p-2 container col-sm-12 col-lg-8 text-justify">
    <h2 class="p-4 text-center">Painel WHPC </h2>
        <br>
        <h3>Título:</h3>
        <p class="lead">Desafios na jornada acadêmica e na carreira de computação: como conciliar a vida pessoal e a profissional?</p>
        <br>
        <p class="lead">O WHPC/ERAD-RS 2025 é um fórum regional onde mulheres atuantes na área de HPC e áreas afins compartilham seus desafios na jornada acadêmica e na carreira de computação. Nesta edição, vamos abordar as dificuldades de conciliar a vida pessoal e a profissional na computação, área que é tão competitiva e que sempre está repleta de novidades. Se você é estudante de algum curso de Computação, participe do fórum e venha trocar experiências!</p>
          
        <br>
        <div>
            {% for session in site.data.whpc.sessions %}
            <div id="{{ session.id }}">
                <h3>{{ session.title }}</h3>
                <p class="lead">
                    <b>Descrição</b>: {{ session.description }}
                </p>
                <div class="row">
                    <h4>Painelistas</h4>
                    {% for speaker in session.speakers %}
                    <div class="col-md tutorial-author">
                        {% if speaker.photo %}
                        <img class="rounded-circle author-photo" src="img/{{ speaker.photo }}" alt="{{ speaker.name }}">
                        {% endif %}
                        <h5>{{ speaker.name }}</h5>
                        <p class="lead author-bio"><i>{{ speaker.affil }}</i></p>
                        <p class="lead author-bio">
                            {{ speaker.bio }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
</section>
