<footer class="jumbotron jumbotron-fluid mb-0" id="jumbotron">
    <style>
        p {
            font-size: 20px;
        }

        .img_diamante {
            width: auto;
            /*height: 120px;*/
            height: 140px;
        }

        .img_diamantee {
            width: auto;
            height: 140px;
        }

        .img_ouro {
            width: auto;
            /*height: 100px;*/
            height: 120px;
        }

        .img_prata {
            width: auto;
            /*height: 80px;*/
            height: 100px;
        }

        .img_prataa {
            width: auto;
            height: 45px;
        }

        .img_prataaa {
            width: auto;
            height: 60px;
        }

        .img_bronze {
            width: auto;
            height: 90px;
        }

        @media (min-width: 768px) {
            p {
                font-size: 25px;
            }

            .img_diamante {
                width: auto;
               /*height: 120px;*/
                height: 140px;
            }

            .img_diamantee {
                width: auto;
                height: 140px;
            }

            .img_ouro {
                width: auto;
               /*height: 100px;*/
                height: 120px;
            }

            .img_prata {
                width: auto;
                /*height: 80px;*/
                height: 100px;
            }

            .img_prataa {
                width: auto;
                height: 60px;
            }

            .img_prataaa {
                width: auto;
                height: 80px;
            }

            .img_bronze {
                width: auto;
                height: 90px;
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            /* background-color: rgba(200, 200, 200, 0.8); */
            /* gap: 2px; */
        }

        .grid-container > div {
            /* border: 1px solid rgba(0, 0, 0, 0.8); */
            text-align: center;
            padding: 20px 0;
        }

        .sbc {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .apoio {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .org {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        .fomento {
            grid-column-start: 4;
            grid-column-end: 5;
        }
        .diamante {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .ouro {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .prata {
            grid-column-start: 1;
            grid-column-end: 5;
        }
    </style>
    <section>
        <div class="row">
            <div class="col-md-5 text-center">
                <b><p>Realização</p></b>
                <figure class="sbc">
                    <a href="http://www.sbc.org.br" target="_blank"><img src="img/logo-sbc-200x200.png" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="http://www2.sbc.org.br/ce-acpad/" target="_blank"><img src="img/logo-ceacpad-200x200.png" class="img_diamante" /></a>
                </figure>
            </div>
            <div class="col-md text-center">
                <b><p>Organização</p></b>
                <figure class="org">
                    <a href="https://unisenaisc.com.br/" target="_blank"><img src="img/logo-unisenai-200x200.png" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.udesc.br" target="_blank"><img src="img/logo-udesc-200x200.png" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.unioeste.br" target="_blank"><img src="img/logo-unioeste-200x200.png" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="http://www.ufsc.br" target="_blank"><img src="img/logo-ufsc-200x200.png" class="img_diamante" /></a>
                </figure>
            </div>
            <!--<div class="col-md text-center">
                <b><p>Fomento</p></b>
                <figure class="org">
                    <img src="img/logo.png" class="img_diamante" />
                    <a href="https://fapesc.sc.gov.br/" target="_blank"><img src="img/logo-fapesc.png" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%;height: 1%;">
                    <a href="http://www.capes.gov.br" target="_blank"><img src="img/logo-capes.png" class="img_topo"></a>
                </figure>
            </div>-->
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md text-center">
                <b><p>Apoio</p></b>
                <figure class="org">
                    <a href="https://www.unijui.edu.br" target="_blank"><img src="img/logo-unijui-200x200.png" class="img_ouro" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="http://www.ufpr.br" target="_blank"><img src="img/logo-ufpr-200x200.png" class="img_ouro" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.ufrgs.br" target="_blank"><img src="img/logo-ufrgs-200x200.png" class="img_ouro" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="http://www.ufsm.br" target="_blank"><img src="img/logo-ufsm-200x200.png" class="img_ouro" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.gov.br/lncc/pt-br" target="_blank"><img src="img/logo-lncc-200x200.png" class="img_ouro" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.linkedin.com/company/friol/" target="_blank"><img src="img/logo-instituto_friol-200x200.png" class="img_ouro" /></a>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <b><p>Patrocinadores</p></b>
                <div class="row">
                    <p>Diamante</p>
                    <figure class="org">
                        <!--<img src="img/logo.png" class="img_diamante" />-->
                        <a href="https://www.vircos.com.br" target="_blank"><img src="img/logo-vircos-200x200.png" class="img_diamante" /></a>
                        <img src="img/spacer.png" style="width: 5%; height: 1%" />
                        <a href="https://www.sdc.com.br/" target="_blank"><img src="img/logo-sdc_asrock-200x200.png" class="img_diamante" /></a>
                        <img src="img/spacer.png" style="width: 5%; height: 1%" />
                        <a href="https://www.dell.com.br/" target="_blank"><img src="img/logo-dell_nvidia-200x200.png" class="img_diamante" /></a>
                        <!--<img src="img/spacer.png" style="width: 5%; height: 1%" />-->
                        <!--<a href="https://www.seagate.com/" target="_blank"><img src="img/logo-seagate.png" class="img_diamantee" /></a>-->
                    </figure>
                </div>
                <div class="row">
                    <p>Ouro</p>
                    <figure class="org">
                        <!--<img src="img/logo.png" class="img_ouro" />-->
                        <a href="https://www.fineasytech.com/" target="_blank"><img src="img/logo-fineasy_tech-200x200.png" class="img_ouro" /></a>
                        <img src="img/spacer.png" style="width: 5%; height: 1%" />
                        <a href="http://www.versatushpc.com.br/" target="_blank"><img src="img/logo-versatus_hpc-200x200.png" class="img_ouro" /></a>
                        <img src="img/spacer.png" style="width: 5%; height: 1%" />
                        <a href="http://risk.lexisnexis.com.br/" target="_blank"><img src="img/logo-lexisnexis-200x200.png" class="img_ouro" /></a>
                        <img src="img/spacer.png" style="width: 5%; height: 1%" />
                        <a href="https://www.hpe.com/br/en/home.html" target="_blank"><img src="img/logo-hpe-200x200.png" class="img_ouro" /></a>
                    </figure>
                </div>
                <div class="row">
                    <p>Prata</p>
                    <figure class="org">
                        <!--<img src="img/logo.png" class="img_prata" />-->
                        <a href="https://www.cipherphone.com.br/" target="_blank"><img src="img/logo-cipher_phone-200x200.png" class="img_prata" /></a>
                    </figure>
                </div>
                <div class="row">
                    <p>Bronze</p>
                    <figure class="org">
                        <a href="https://www.newroute.com/" target="_blank"><img src="img/logo-new_route-200x200.png" class="img_bronze" /></a>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <!-- 
  <div class="container col-sm-12 col-lg-9">    
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <h2>Apoio e Patrocínio</h2>
      </div>
      <div class="col-sm-12 col-lg-6">
        <h2>Apoio e Patrocínio</h2>
      </div>  
    </div>
  </div> -->
</footer>

<div class="grid-container social-icons">
    <div style="grid-column-start: 1; grid-column-end: 5">
        <a class="btn btn-social" href="https://www.instagram.com/eradrs.sbc/" target="_blank">
            <i class="bi bi-instagram"></i>
        </a>

        <a class="btn btn-social" href="https://www.facebook.com/eradrs.sbc/" target="_blank">
            <i class="bi bi-facebook"></i>
        </a>

        <a class="btn btn-social" href="https://www.youtube.com/eradrs/" target="_blank">
            <i class="bi bi-youtube"></i>
        </a>

        <br />
        <br />

        <h1>ERAD/RS 2024</h1>
        <p>Todos os direitos reservados</p>
    </div>
</div>

<!-- apoio e patrocinio
<section class="pb-1 container col-sm-12 col-lg-8 text-justify mt-4" id="apoio">
  
</section> -->
