<div id="nav_bar">
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <div class="container text-uppercase">
            <a class="navbar-brand" href="/eradrs2025/">
                <img src="img/NAVBAR_ERAD2025.png" alt="Logo" height="50" class="d-inline-block align-middle" />
                <!--ERAD/RS 2025-->
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center">
                <ul class="navbar-nav m-2">
                    <li class="nav-item">
                       <a id="nav-a" class="nav-item nav-link" href="https://shorturl.at/4TKLa">Certificados</a>
                        <a id="nav-a" class="nav-item nav-link" href="https://shorturl.at/NZTyQ">Fotos</a>
                        <!--<a id="nav-a" class="nav-item nav-link" href="/eradrs2025/inscricoes">Inscrições</a>-->
                        <!--<a id="nav-a" class="nav-item nav-link" href="https://unioestebr-my.sharepoint.com/:f:/g/personal/guilherme_galante_unioeste_br/EpfqrfXMW-VLu_KEO-8zuioBYoCwVuq0_Ci63C67z2xa6Q?e=pfg7cB">Certificados</a>-->
                    </li>
                    <li class="nav-item">
                        <!--<a id="nav-a" class="nav-item nav-link" href="https://drive.google.com/drive/folders/1fIF0grnISWac7p9VC8P_yXEip10Oruh5?usp=sharing">Fotos</a>-->
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Programação
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/eradrs2025/cronograma">Cronograma</a></li>
                           <li><a class="dropdown-item" href="/eradrs2025/minicursos">Minicursos</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/palestras">Palestras</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/painel">Painel</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/maratona">Maratona</a></li>                            
                            <li><a class="dropdown-item" href="/eradrs2025/whpc">WHPC</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/forum">Fórum IC/PG</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Submissões
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/eradrs2025/chamada_de_trabalhos">Chamada de trabalhos</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/propostas_de_minicursos">Propostas de minicursos</a></li>
                        </ul>
                    </li>
                  <!--  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Guia ERAD/RS 2025
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/eradrs2025/local">Local</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/cadastramento">Cadastramento Parquetec</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/wifi">Wi-fi</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/hospedagem">Hospedagem</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/mapa">Mapa Parquetec</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/alimentacao">Alimentação</a></li>                            
                            <li><a class="dropdown-item" href="/eradrs2025/transporte">Transporte</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/jantar">Jantar</a></li>
                            <li><a class="dropdown-item" href="/eradrs2025/turismo">Turismo</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a id="nav-a" class="nav-item nav-link" href="/eradrs2025/organizacao">Organização</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
